[Unit]
Description=Label Service 

[Service]
PIDFile=/tmp/label-service-99.pid
User=stalker
Group=stalker
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/opt/label/html
ExecStart=/opt/label/html/app.js

[Install]
WantedBy=multi-user.target
